# Python virtual environment
venvFraud/
venvFraud

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
